In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('../data/payload.csv')
df = pd.read_parquet("../data/yellow_tripdata_2021-03.parquet").head(1)

df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2021-03-01 00:22:02,2021-03-01 00:23:22,1.0,0.0,1.0,N,264,264,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0,NaN

In [15]:
from yellowcab.preprocessing import encode_categorical_cols
df = encode_categorical_cols(df)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2021-03-01 00:22:02,2021-03-01 00:23:22,1,0.0,1.0,N,264,264,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,0.0,NaN

In [16]:
CATEGORICAL_COLS = ["PULocationID", "DOLocationID", "passenger_count"]
dicts = df[CATEGORICAL_COLS].to_dict(orient="records")
dicts

[{'PULocationID': '264', 'DOLocationID': '264', 'passenger_count': '1'}]

In [20]:
import pickle
with open('../models/dv.pkl', 'rb') as f:
    dv = pickle.load(f)
dv.transform(dicts)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 0 stored elements and shape (1, 3)>

In [ ]:
dicts = df[CATEGORICAL_COLS].to_dict(orient="records")
X = dv.transform(dicts)
logger.debug(f"Transformed input data:\n{X}")
y = model.predict(X)
logger.info(f"Predicted trip durations:\n{y}")

In [26]:
import numpy as np 

A = np.eye(3)
print(A.shape)
B = A[np.newaxis, :, :]
print(B.shape)

(3, 3)
(1, 3, 3)

In [33]:
A.reshape(-1,3,3)

array([[[1., 0., 0.],
        [0., 1., 0.],
        [0., 0., 1.]]])